
navbar
    if url === '/home'
        nav(class="navbar navbar-expand-sm bg-light")
            ul(class="nav nav-pills")
                li.nav-item
                    a(class="nav-link active" href="/home") Home
                li.nav-item
                    a(class="nav-link" href="/about") About
                li.nav-item
                    a(class="nav-link" href="/personal") Personal
    else if url === '/about'
        nav(class="navbar navbar-expand-sm bg-light")
            ul(class="nav nav-pills")
                li.nav-item
                    a(class="nav-link" href="/home") Home
                li.nav-item
                    a(class="nav-link active" href="/about") About
                li.nav-item
                    a(class="nav-link" href="/personal") Personal
    else if url === '/personal'
        nav(class="navbar navbar-expand-sm bg-light")
            ul(class="nav nav-pills")
                li.nav-item
                    a(class="nav-link" href="/home") Home
                li.nav-item
                    a(class="nav-link" href="/about") About
                li.nav-item
                    a(class="nav-link active" href="/personal") Personal