extends layout

block content
    br
    .row
        .col-lg-4
            .thumbnail
                img(src="https://picsum.photos/1000/500" alt="picture" style="width:100%" class="rounded")
                .caption 
                    p.caption-text.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                        ex ea commodo consequat. 
        .col-lg-4
            .thumbnail
                img(src="https://picsum.photos/1000/500" alt="picture" style="width:100%" class="rounded")
                .caption 
                    p.caption-text.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                        ex ea commodo consequat. 
        .col-lg-4
            .thumbnail
                img(src="https://picsum.photos/1000/500" alt="picture" style="width:100%" class="rounded")
                .caption 
                    p.caption-text.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                        ex ea commodo consequat. 
                